/* App.css */

.movie_element:hover{
    border: 1px solid rebeccapurple;
    filter: brightness(50%);
}

.movie_element {
    width: 10%; /* 10개 카드를 가로로 배치 */
    box-sizing: border-box; /* 패딩과 보더를 포함하여 너비 계산 */
    padding: 10px; /* 카드 간의 패딩 */
}

.movie_element img {
    width: 100%; /* 카드 크기에 맞춰 이미지 조정 */
    height: auto; /* 비율 유지 */
}

img{
    border-radius: 5px;
}